<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="http://www.google.com" class="navbar-brand">Atik</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="getUserLoggedIn()" routerLink="/welcome/atik" class="nav-link">Home</a></li>
            <li><a *ngIf="getUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!getUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="getUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>


<!-- TOP MENU ELEMENTS <BR><BR> -->